# basic website framework
fastapi==0.135.1
gunicorn==25.1.0
# async MongoDB driver
motor==3.7.1
# model data verification
pydantic==2.12.5
# env management
pydantic-settings==2.13.1
pymongo==4.16.0
# .env file
python-dotenv==1.2.2
# upload file use
python-multipart==0.0.22
# asgi server
uvicorn==0.42.0
